In [ ]:
#BASCO ISAIAH JESS L.  LOGISTIC REGRESSION
#COMPARISON for the prelim exam i choose the Logistic Regression and K-Nearest Neighbors to utilize the program,For classification problems, logistic regression models the probabilities.
#with two potential outcomes It is a linear regression extension. classification problem model while KNN works by calculating the distances between a query and all possible answers.
#picking the desired number of samples from the data (K) closest to the question, votes for the most often occurring label (in the case ofclassification) or the labels are averaged (in the case of regression).
#the accuracy reslut for Logistic Regression for this dataset of Titanic is 75%-79% while for the K-Nearest Neighbors accuracy result are 65% to 69%.

In [1]:
#IMPORT LIBRARIES NEEDED FOR THE PROGRAM
#import pandas libraries
import pandas as pd
#import sklearn for model selection
from sklearn.model_selection import train_test_split
#import sklearn for linear model
from sklearn.linear_model import LogisticRegression
#import sklearn for metrics
from sklearn.metrics import accuracy_score

In [2]:
#open the file
df = pd.read_csv('titanic3.csv')

In [3]:
#See the data
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [4]:
#grouped data
df.isna().sum()

pclass          1
survived        1
name            1
sex             1
age           264
sibsp           1
parch           1
ticket          1
fare            2
cabin        1015
embarked        3
boat          824
body         1189
home.dest     565
dtype: int64

In [5]:
#classify the data/ removing and cleaning the data
df = df.drop(columns=['name','cabin','boat','body','home.dest','ticket'])
df = df.dropna(subset=['age','embarked','fare'])
df.isna().sum()

pclass      0
survived    0
sex         0
age         0
sibsp       0
parch       0
fare        0
embarked    0
dtype: int64

In [6]:
df['sex'].unique()
sex = {'male': 1, 'female': 0}
df['sex'].replace(sex, inplace=True)

In [7]:
df['embarked'].unique()
embarked = {'C': 1, 'S': 2, 'Q': 3}
df['embarked'].replace(embarked, inplace=True)

In [8]:
X = df.drop(columns=['survived'])
y = df['survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)
prediction = LogisticRegression()
prediction.fit(X_train,y_train)
y_prediction=prediction.predict(X_test)

C:\Users\Isaiah Jess\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [9]:
#check the accuracy
accuracy = accuracy_score(y_test, y_prediction)
accuracy

0.7739463601532567